﻿*{  padding: 0; margin: 0; }
body {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    background-size: cover;
    background: #585858;
   }
#Pac{
    margin: 2%;
    display: flex;

}
.Pac2{
    max-width: 820px;
    border-radius: 10px;
    background: #F4EEE8;
    background-size: cover;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
.container{
    max-width: 820px;
    margin-bottom: 4px;
    border-radius: 5px;
    background: #c2d4dd;
    background-size: cover;
}
.main1{
    margin-bottom: 5px;
    width: 90%;
    max-width: 500px;
    height: 50%;

}
nav{
    text-align: center;
    margin-bottom: 5px;
    background: #b0aac0;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}
#navbar a:hover {
    border-radius: 5px 5px;
    font-family: cursive;
}

.header {
    display: flex;
    align-items: stretch;
    flex-direction: row;
}
#world a {
    color: #ff6a00;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
 }
 header {
     color: #ff6a00;
     text-align: center;
     background: url('https://rolf-probeg.ru/static/infographics/car.png')repeat-y #2c3e50;
     background-position: center;
     background-size: 100%;
     position: relative;
 }
header::after {
    margin-top: 200px;
    content: '';
    display: inline-block;
    width: 100%;
}
.container-1 div{
    padding: 10px;
}
.Setka{
    order: 1;
}
.container{
    order: 2;
}
.pac2{
    order: 3;
}
.zebra{
    order: 4;
}
#NoTypeLink{
    order: 5;
}.forma{
     order: 6;
 }
img {
    max-width:100%;
    height:auto;
    width:auto\9;
    justify-content: center;
}

TABLE {
    border-spacing: 2px;
    empty-cells: hide;
    margin: auto;
    font-family: cursive;
    border: 5px solid #ff6a00;
    border-radius: 10px;
    transition: all 0.5s linear;
    justify-content: space-around;
}

td {
    padding: 10px 20px;
    text-align: center;
    border-bottom: 1px solid #F4EEE8;
    transition: all 0.5s linear;
}
    td:first-child {
        text-align: left;
        color: #3D3511;
        font-weight: bold;
    }
th {
    padding: 10px 20px;
    color: #3D3511;
    font-size: 20px;
    border-bottom: 1px solid #F4EEE8;
}

tr:nth-child(odd) {
    background: #a74dd7;
}
tr:nth-child(even) {
    background: #ff6a00;
}
.NoTypeLink*{
    margin: 0;
    padding: 0;
}


#NoTypeLink a {
    display: block;
    width: 100vw;
    background: #e0e1e5;
    font-size: 20px;
    color: #ff6a00;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    justify-content: space-around;
}
    #NoTypeLink a:hover {
        border-radius: 5px 5px;
        background-color: #33ADFF;
    }

.text1 {
    font-size: 20px;
    font-family: cursive;
    font-weight: bold;
}

#ima2 {
    border: 2px solid #1baf6afd;
    height: 50px;
    width: 100px;
    border-radius: 5px;
}

.Volk {
    border: 2px solid #1baf6afd;
    height: 350px;
    width: 350px;
    border-radius: 5px;
}
.forma {
    display: block;
    background-color: #c2d4dd;
    width: auto;
}
footer {
    padding-bottom: 20px;
    padding-top: 20px;
    color: #ff6a00;
    background-color: #2c3e50;
    text-align: left;
}
#navbar a:hover {
    border-radius: 5px 5px;

}
.main1{
    background: #b0aac0;
    margin-left: 2%;
    border-radius: 21px;
    font-family: cursive;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


@media only screen and (max-width: 820px) {

    .container-1 div{
        padding: 10px;
    }
    .Setka{
        order: 1;
    }
    .container{
        order: 2;
    }
    .pac2{
        order: 3;
    }
    .zebra{
        order: 6;
    }
    #NoTypeLink{
        order: 5;
    }.forma{
         margin-top: 2vh;
         order: 4;
     }

    .Setka{
        display: flex;
    }
    nav{
        text-align: center;
        flex: 1;
        background: #b0aac0;
        background-size:cover ;
        border-radius: 10px;
        height: auto;
        padding: 10px;
        transition: all 500ms ease-out;
    }
    #navbar {
        border-radius: 20px 5px;
    }
    #navbar a {
        font-family: cursive;
        padding: 5px 10px;
        text-decoration: none;
        font-size: 10px;
        font-weight: bold;
        display: flex;
    }

    #navbar a:hover {
        border-radius: 5px 5px;
        background-color: #106d42fd;
    }
    header{
        height: 200px;
    }

    .NoTypeLink{
        margin-top: 2vh;
    }
    .main1{
        flex: 3;
        height: auto;
        background: #b0aac0;
        margin-left: 2%;
        border-radius: 21px;
        font-family: cursive;
        font-weight: bold;
    }

}
@media only screen and(min-width: 1220px)
{

}